* {
  background-color: rgb(223, 223, 223);
}

h1 {
  text-align: center;
}

body {
}

.outer-container {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.functions {
  display: flex;
  flex-direction: column;
  gap: 30px;

  input,
  button {
    border-radius: 6px;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow: 6px 6px 13px #b3b3b3, -6px -6px 13px #ffffff;
  }

  button {
    padding: 10px;
  }

  .eraser-true {
    background: linear-gradient(145deg, #aba7a7, #a09c9c);
  }

}

.container {
  display: flex;
  flex-direction: row;
  width: 352px;
  flex-wrap: wrap;
  // margin: auto;
  border: 1px solid black;

  .box {
    border: 1px solid rgb(177, 175, 175);
    height: 20px;
    width: 20px;
  }
}
